@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://d3maz3d4kpscx1.cloudfront.net/ada.jpg" alt="getting from cloudfront distribution" width="512" height="512">
    <h2> Separation of CFT and S3 </h2>
    <img src="https://privates3b.s3.amazonaws.com/ada.jpg" alt="not accesible through s3" width="512" height="512">
</div>
